average_exp.csv
average_exp_emerald.csv
find_mult_and_add.py
pickup_time.py
pokemon_emerald_encounters_land.csv
pokemon_emerald_encounters_rs.csv
pokemon_emerald_encounters_sr.csv
pokemon_emerald_encounters_surf.csv
sequence.py
tas/candy_path

